@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

body{
  background-color: #141414;
}

  .navbarColor{
  background-color: rgb(15, 15, 15);
  
}

.borderno::before{
border: none;
color: rgb(114, 112, 112);
}

.navbackground{
  background-color: rgb(24, 23, 23);
}

.grow:hover{
  scale: 1.1;
  cursor: pointer;
 
}
.ggg{
  background-color: #292929;
}
.unstyle{
  text-decoration: none;
  color: white;
  
}
.unstyle:hover{
  color: white;
}
.slick-dots li button {
  background-color: white;
}
.underlineRemove{
  text-decoration: none;
}

/* .slick-slide {
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
/* .active {
  transform: scale(2.0);  
  z-index: 1; 
  margin-left: 50px; 
  padding-bottom: 20px;
  padding-top: 10px;/
} */
